body{
	width: 98%;
	min-width: 900px;
	max-width: 1050px;
	font-family: Verdana, Times New Roman;
	font-weight: normal;
	font-size:16px;
	margin: 10px auto 10px auto;
	border: 2px solid black;
	}
	
	

#glavni {
	width: 100%;
	background-color: #7A2900;
}

#glavni h1{
	color: #B2E0E0;
	padding:30px;
}

#glavni h2{
	color: #FFFFFF;
	padding-left:10px;
}

#glavni h5{
	color: #B2E0E0;
	font-size:7pt;
	padding-left:10px;
}

#glavni p{
	color: #009999;
	padding-left:10px;
}


#logo_slika{
	float:left;
	width: 20%;
	height: 225px;
}

#nas_slika{
	float:right;
	width: 80%;
	height: 225px;
}


nav.nav1{
	border: 1px solid black;
	text-align:center;
	background-color: #993300;
}

nav.nav1 ul{
	list-style:none;
}

nav.nav1 li a{
	text-decoration:none;
	color: #66C2C2;
	font-size: 27px;
}

nav.nav1 li{
	display: inline-block;
	border-radius: 20px;
	padding:10px;
}

	
nav.nav1 a:hover{
	color:white;}
	
#glavni a:hover{
	color:white;}
